@use '../abstracts/variables' as vars;

#process-page .hero {
  background: #f4f4f4;
}

.dark-mode #process-page .hero {
  background: map-get(vars.$dark-theme, 'bg');
}

.features {
  max-width: 100%;
  overflow-x: auto; /* Gör att det går att rulla horisontellt om texten är för lång */
}
